/target/
/bamboo-isolated-docker-plugin/target/
/bamboo-isolated-ecs-plugin/target/
/isolated-docker-spi/target/
/bamboo-simple-backend-plugin/target/
/bamboo-kubernetes-backend-plugin/target/
/ecs-scheduler-service/target/
/ecs-scheduler/target/