<?xml version="1.0" encoding="UTF-8"?>
<settings>
    <mirrors>
        <mirror>
          <id>maven-atlassian-com</id>
          <name>mirror all the things</name>
          <url>https://packages.atlassian.com/maven/repository/public/</url>
          <mirrorOf>external:*</mirrorOf>
        </mirror>
    </mirrors>
</settings>
