.chartContainer {
    position: relative;
}
.chart {
    position: relative;
    left: 40px;
}
.yAxis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
}
.rickshaw_legend {
    color: #404040;
    background-color: transparent;
}
